html { 
	background: url(bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.png', sizingMethod='scale')";
}

body {
	font-family: 'Helvetica', '微軟正黑體', 'Microsoft ZhengHei', '微软雅黑', 'Microsoft YaHei';
}

*, body * {
	color: white;
	font-size: 36px;
}

#long_url {
	background: rgba(0, 0, 0, 0.4);
}

#long_url form#short_it input {
	color: white;
}

#long_url input::-webkit-input-placeholder,
#long_url input::placeholder {
	color: white;
}

#short_url {
	position: relative;
	vertical-align: bottom;
}

#short_url button.copy {
	-moz-transition-property: opacity;
	-moz-transition-duration: 1s;
	-moz-transition-delay: 1s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 1s;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 1s;
	opacity: 0;
	visibility: hidden;
	float: left;
	padding-top: 1em;
}

#short_url.shorten button.copy {
	visibility: visible;
	opacity: 1;
}

#short_url #logo {
	position: absolute;
	left: 100%;
	margin-left: -3.8em;
	font-family: 'Comic Sans MS', 'Comic Sans';
	font-size: 72px;
	-moz-transition-property: left, margin-left;
	-moz-transition-duration: 1.5s;
	-webkit-transition-property: left, margin-left;
	-webkit-transition-duration: 1.5s;
	transition-property: left, margin-left;
	transition-duration: 1.5s;
}

#short_url #logo .small {
	font-size: 60px;
}

#short_url #logo #shorten {
	margin-left: 2px;
	font-size: 48px;
	font-family: 'Helvetica', '微軟正黑體', 'Microsoft ZhengHei', '微软雅黑', 'Microsoft YaHei';
	-moz-transition-property: opacity;
	-moz-transition-duration: 1s;
	-moz-transition-delay: 1.3s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 1.3s;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 1.3s;
	opacity: 0;
}

#short_url.shorten #logo {
	left: 0;
	margin-left: 48px;
}

#short_url.shorten #logo #shorten {
	opacity: 1;
}
